html {
  font-family: sans-serif;
}

@mixin heading-mixin($font-size) {
  font-size: $font-size;
  font-weight: bold;
}

h1 {
  @include heading-mixin(40px);
}

h2 {
  @include heading-mixin(30px);
}

h3 {
  @include heading-mixin(20px);
}
